@page
@model IndexModel
@{
    ViewData["Title"] = "Movie Assessment Home page";
}

<div class="text-center">
    <h1 class="display-4">Movie Database Assessment</h1>
    <p>To enter a movie click <a asp-page="/Movies/Index">Movie</a>.</p>
    <p>To enter a cast member click <a asp-page="/Casts/Index">Cast</a>.</p>
</div>
